- content_for :title, 'River Operation - Shipping Plans'
- content_for :description, 'Using our expertise in logistics and our passion for river operation, we are able to develop tailored shipping plans for your cargo.'

.bg-white.section
  .container-fluid
    .max-1030.center-block
      .row.text-center
        .col-xs-12
          %h3
            %span Nothing Compares to
            .h1 Our Services

      .row.large-gutter
        .col-xs-12.service
          = image_tag 'towing-fleeting.jpg', class: 'img-responsive', style: 'max-width: 470px; margin:0 auto;'
          %br
          %p Using our expertise in logistics and our passion for river operation, we are able to develop tailored shipping plans for your cargo. Your cargo deserves a dependable, trustworthy company to handle it and we realize this. We know the importance of building relationships with every customer we work with, whether it is a long-term partnership or spot freight. It is this mentality and practice that helps us provide you with peace of mind.
      .row
        %br
        %table.blocks
          %tr
            %td.light-gray{ data:{link: '/towing-fleeting'}}
              .h1 Towing & Fleeting
            %td.red{ data:{link: '/vessel-leasing'}}
              .h1 Vessel Leasing
