- content_for :title, 'Vessel Leasing - Boat Charters'
- content_for :description, 'Though we are not present for the daily operation of our chartered equipment, we build them as if we are there for every trip and transfer. No expense is spared on HFL equipment.'

.hero-wrapper
  .hero-image{ style: "background-image: url(#{asset_path('vessel-leasing.jpg')}); background-position: center bottom;"}

.bg-white.section
  .container-fluid
    .max-1030.center-block
      .row.text-center
        .col-xs-12
          %h3
            %span Hines Furlong Line
            .h1 VESSEL LEASING
  %br

  .container-fluid
    .max-1030.center-block
      .row.large-gutter
        .col-xs-12.service
          %p Hines Furlong Line, Inc. not only operates our own vessels but the company also owns a fleet of towboats and barges that are available exclusively through bareboat charter (lease) arrangements. This structure offers our customers the flexibility to expand and contract their fleet based on market conditions without the long term financial commitment. Bareboat chartered vessels also allow customers to cover for maintenance outages or surges in business. Entering into a bareboat charter offers our customers the benefits of ownership such as exclusivity, fixed cost but without all of the burdens of ownership. Charter terms, structures, and durations are all custom tailored for each customer based on individual needs.

          %p The HFL leased vessel fleet currently includes a diverse mix of approximately sixty (60) younger inland tank barges that are different sizes, configurations. The leased fleet also includes several inland towboats. Additions to the HFL fleet are from acquisition, speculative new construction, and customer specific new construction.
      .row
        .col-xs-12
          %table.blocks
            %tr
              %td.red{ data:{link: '/boat-charters'}}
                .h1 Towboat Fleet
              %td.light-gray{ data:{link: '/tank-barges'}}
                .h1 Barges