%footer
  .container-fluid
    .row
      .col-sm-9.col-lg-10
        %p.caption
          Hines Furlong Line ©copyright #{Time.now.year} All Rights Reserved | 4017 Hillsboro Pike STE 402, PO Box 150809, Nashville, TN 37215 | Phone: 615-352-6935
          %br
          Photography by Barry Griffith, Sammy Jo Hester, Greg Milliken, Ron Richardson, Brandon Hayes, Tom Waller, & Joe Schneid
      .col-sm-3.col-lg-2.text-right
        = link_to root_path do
          = image_tag "hfl_logo_small.jpg", :class => 'max-p-100 pull-right'

