.row.small-gutter
  .col-xs-12
    = f.text_field :name, :label => false, :placeholder => 'name'
  .col-xs-12
    = f.text_field :number, :label => false, :placeholder => 'number'
  .col-xs-12
    = f.text_field :relationship, :label => false, :placeholder => 'relationship'
