.row.small-gutter
  .col-xs-12
    = f.text_field :school_name, :label => false, :placeholder => 'name of school'
  .col-xs-12
    = f.text_field :address, :label => false, :placeholder => 'address'
  .col-xs-4 
    = f.text_field :years, :label => false, :placeholder => 'years'
  .col-xs-8
    = f.text_field :diploma, :label => false, :placeholder => 'diploma/degree'
