.section.bg-white
  .container-fluid
    .max-720.center-block
      .row
        .col-xs-12.vert-center.text-center
          .content{ :style => 'padding: 20% 10px'}
            %h1 Thanks, your application has been recieved. We will be in contact.
