- content_for :title, 'Barge Resources - HFL Fleet'
- content_for :description, 'The HFL atmospheric tank barge fleet is constantly growing. We pride ourselves in having the nicest tank barges on the water.'

.bg-white.section
  .container-fluid
    .max-1030.center-block
      .row.text-center
        .col-xs-12
          %h3
            %span Barge
            .h1 RESOURCES

      .row.large-gutter
        .col-xs-12.service
          %table.blocks
            %tr
              %td.light-gray{ width:'50%', data:{link: '/boat-charters'}}
                .h1 Towboat Fleet
              %td.red{ data:{link: '/equipment-register'}}
                .h1 Equipment Register
          %br
          %p The HFL atmospheric tank barge fleet is constantly growing. We pride ourselves in having the nicest tank barges on the water. Although we will add or change things as the customer request, we also pride ourselves in standardization of features across our fleet.

          .row
            %br
            %br
            .col-sm-6
              %p
                %b 30,000 bbl Capacity Tank Barges
                %br
                By no means does a standardized fleet mean that our barges abilities are limited. Our 30,000 bbl fleet includes both internally framed barges and externally framed barges for specialty chemical service. Some of our 30,000 bbl barges have specialty features such as fully segregated dual cargo hauling capabilities but we are always open to customer input in specialty features on our tank barges.
            .col-sm-6
              .boat_positions
                %table.text-center.footable.table
                  %thead.bg-primary
                    %tr
                      %th 30k bbl tank barge specs:
                  %tbody
                    %tr.odd
                      %td
                        Dimensions: 297.5’x 54’x 12’
                        %br
                        Approximate capacity in gallons: 1.2 million
                        %br
                        Built with approximately 925 tons of steel
                    %tr.even
                      %td Gross Register Tonnage: 1,619
          .row
            %br
            %br
            %br
            .col-sm-6
              %p
                %b 10,000 bbl Capacity Tank Barges
                %br
                Specialty features are not exclusive to our larger barges. Our 10,000 bbl fleet is fully externally framed for maximum cargo flexibility. All HFL 10,000 bbl barges are also equipped with steam systems via channels running on the underside of the cargo tank floors. In many of the HFL 10,000 bbl barges many of the specialization is taking a step further with the addition of high grade stainless steel cargo piping systems and cargo tank linings.
            .col-sm-6
              .boat_positions
                %table.text-center.footable.table
                  %thead.bg-primary
                    %tr
                      %th
                        10k bbl tank barge specs:
                  %tbody
                    %tr.odd
                      %td
                        Dimensions: 200’x 35’x 12.5’
                        Approximate capacity in gallons: 420,000
                        Built with approximately 425 tons of steel
                    %tr.even
                      %td
                        Gross Register Tonnage: 735
      .row
        .col-sm-9
          %br
          %br
          %br
          .boat_positions
            %table.text-center.footable.table
              %thead.bg-primary
                %tr
                  %th Tank Barges - Vessel Numbering Key
              %tbody
                %tr.even
                  %td 100 Series are Box, 10,000 bbl. tank barges
                %tr.odd
                  %td 200 Series  Rake 10,000 bbl tank barges
                %tr.even
                  %td 300 Series  Small Box (147.5’ x 54’ x 12’) tank barge
                %tr.odd
                  %td 400 Series  Lead rake 30,000 bbl tank barges
                %tr.even
                  %td 500 Series  Trail rake 30,000 bbl tank barges
                %tr.odd
                  %td 600 Series  Box 30,000 bbl tank barges
                %tr.even
                  %td 700 Series  High pressure tank barges
                %tr.odd
                  %td Even Numbered Barges  Externally framed
                %tr.even
                  %td Odd Numbered Barges Internally framed
                %tr.odd
                  %td Barges numbers ending in "S"  Stainless steel piping systems
                %tr.even
                  %td Barges numbers ending in "SS" Cargo tanks and systems all stainless steel